<%= render('layouts/errors', :object => @sighting) %>

<%= form_for  [@animal, @sighting] do |f| %>
  <%= f.label :longitude %>
  <%= f.text_field :longitude %>

  <%= f.label :latitude %>
  <%= f.text_field :latitude %>

  <p><%= f.submit %></p>

  <% end %>
